.shopping-element__name{
    padding: var(--spacing-medium);
    font-weight: bold;
}
.shopping-element__price{
    padding: var(--spacing-medium);
    color: var(--color-unaccent);
}
.shopping-container{
    width: 97%;
    height: 97vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    padding: var(--spacing-large);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}
.shopping__close{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
    background-image: url('../../img/icons8-close.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}
.shopping-element__btn{
    background: none;
    border: 1px solid var(--color-unaccent);
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    transition-duration: 0.4s;
}
.btn_select{
    border: 1px solid var(--color-unaccent);
    background: none;
}
.btn_select:hover {
    border: 1px solid transparent;
    background-image: var(--linear-gradient);
}